<div class="login-page">
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="password" formControlName="password" placeholder="Password">
        <button type="submit">Login</button>
    </form>
</div>

<a [routerLink]="['/users']"> Go to Users page</a>